<style>
html {
    background: white;
    font-family: serif;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1em;
}

body {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 2em;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

ul li, ol li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

table {
    border: 1px solid black;
    margin-top: 3em;
    width: 100%;
}

caption {
    font-weight: bold;
}

th {
    font-weight: bold;
}

tr.odd {
    background-color: #f2f2f2;
}

th, td {
    text-align: right;
}

td {
    font-family: monospace;
}
</style>
